.App {
  text-align: center;
  background-color: aqua;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.appbg {
  background-image: url(bg.png);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbarBlock {
  color: white;
  background-color: rebeccapurple;
  height: 30px;
  align-items: center;


  display: flex;
}

.navbarroutes {
  color: white;
  display: inline-flex;
}

.card {
  margin: 5em 21em;
  height: 32em;
  overflow-y: scroll;
    background-color: gainsboro;
}

.list-group-item {
  display: inline-flex;
}

.img-thumbnail {
  padding: 3px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  max-width: 10%;
  height: 38px;
}

.comingSoon {
  width: 43%;
  margin-left: 24em;
}




.imgthumbnail {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 50%;
  max-width: 100%;
  margin: 2em 2em;
  height: 15em;
}

.userDetails {
  margin: 7em 2em;
}

.cardtwo {
  display: flex;
  max-height: 740px;
}

.cardthree {
  left: 20em;
  top: 4rem;
  height: 32em;
  background-color: gainsboro;
  overflow-y: scroll;
  min-width: 30rem;
  position: relative;
  float: right;
}

.profilesection {
  float: left;
  max-width: 195px;
  margin: 29px 82px;
  padding: 10px 2px;
  float: left;
  /* order: 2; */
}

.chatBoxButton{
    margin-left: 83rem
}
.chatBox{
  width: 18rem;
    position: absolute;
    transform: translate3d(-128px, -208px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    height: 13rem;
        overflow-y: auto;
}